.root {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.sideBar {
  background-color: gray;
  color: white;
  width: 98px;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
}

.header {
  height: 88px;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header ul {
  display: flex;
  gap: 12px;
  margin: 0 18px 0 0;
  padding: 0;
}

.main {
  flex-grow: 1;
  background-color: #f2f2f2;
  padding: 10px;
  overflow: auto;
}
